
.logo {
  // height: 32px;
  // margin: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: darkslategray 1px solid;
  // background:#141414;
  text-align: center;
  // color: white;
  font-size: 30px;
  margin: 10px 0 10px 0 ;
  // background-image: url("../../assets/defaultcourse.png");
}
.layout {
  min-height: 100vh;
  // background: rgba(255, 255, 255, 0.3);
}
.site-layout  {
  margin: 0px 0 0px 200px;
}

  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
.content-contains{
  margin: 0px;
  // min-height: 280px;
  // overflow: initial;
}
// #components-layout-demo-top-side-2 .logo {
//   float: left;
//   width: 120px;
//   height: 31px;
//   margin: 16px 24px 16px 0;
//   background: rgba(255, 255, 255, 0.3);
// }

// .ant-row-rtl #components-layout-demo-top-side-2 .logo {
//   float: right;
//   margin: 16px 0 16px 24px;
// }

// .site-layout-background {
//   background: #fff;
// }