
.search-contains {
  margin: 24px;
  padding: 20px;
  padding-left: 50px;
  background-color: #fff;
  font-size: 18px;
}
.search-type {
  width: 200px;
}
.search {
  margin-left: 20px;
  width: 200px;
}
.select-direction-contains {
  width: 20%;
  margin: 0 24px;
  padding: 20px;
  min-height: 500px;
  background-color: #fff;
}
.direction-contains {
  width: 70%;
  margin: 0 24px;
  padding: 20px;
  min-height: 500px;
  background-color: #fff;
}
.btnGroup {
  color: black;
}
.direction-table {
  width: 100%;
  left: auto;
  right: 0%;
  margin-top: 20px;
}
.direction-title {
  font-size: 30px;
  text-align: center;
  margin: auto;
}
.direction-type {
  text-align: center;
  margin: auto;
}
.add-direcetiontype {

  color: white;
}
.add-direcetion {
  margin-left: 10px;
  color: #fff;
}
.direction-input {
  width: 60%;
}
.modal_cancel {
  margin-left: 24px;
}