
.options-contains {
  margin:0px;
}
.search-type {
  width: 200px;
}
.search {
  margin-left: 20px;
  width: 200px;
}
.list-contains {
  margin:0px;
}
.btnGroup {
  color: black;
}
.list-table {
  width: 100%;
}