.me-contains {
    margin: 24px;
    padding: 20px;
    padding-left: 50px;
    background-color: #fff;
    font-size: 18px;
    min-height: 500px;
  }
  .me-data-contains{
    width: 70%;
    padding-left: 30%;
    background-color: #fff;
  }
  .me-avatar-contains{
    width: 20%;
    padding-top: 5%;
    background-color: #fff;
  }
  .me-info{
    .me-input{
      min-width: 300px;
    }
    font-size: 14px;
  }