
.options-contains {
  margin:0px;
}
.search-type {
  width: 200px;
}
.search {
  margin-left: 20px;
  width: 200px;
}
.user-list-contains {
  margin:0px;
}
.btnGroup {
  color: black;
}
.user-table {
  width: 100%;
}