.system-param-contains {
  width: 100%;
}
.btnGroup {
  color: black;
}
.system-param-table {
  width: 100%;
  left: auto;
  right: 0%;
  margin-top: 20px;
}
.system-param-title {
  font-size: 30px;
  text-align: center;
  margin: auto;
}
.system-param-type {
  text-align: center;
  margin: auto;
}
